<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/ArrendarCentro-estilo.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap" rel="stylesheet">
<title>Inicio sesión - Nessfit</title>
</head>

<body>
         
         <div class="barraLateral">
         	<img src="/images/NESSFIT_LOGO.png">
         	<hr>
         	<a href="/MenuPrincipal" class="boton">
      			<span class="fs-4">Inicio</span>
    		</a>
    		<a th:if="${rolUser == 'ADMINISTRATIVO'}" href="/administrativo/RegistrarCliente" class="boton">
      			<span class="fs-4">Registrar cliente</span>
    		</a>
    		<a th:if="${rolUser == 'ADMINISTRADOR'}" href="/administrador/RegistrarAdministrativo" class="boton">
      			<span class="fs-4">Registrar administrativo</span>
    		</a>
    		<a th:if="${rolUser == 'ADMINISTRATIVO' || rolUser == 'CLIENTE'}" href="/EditarDatos" class="boton">
      			<span class="fs-4">Editar datos</span>
    		</a>
    		<a href="/CambiarContraseña" class="boton">
      			<span class="fs-4">Cambiar contraseña</span>
    		</a>
    		<a href="/logout" class="boton">
      			<span class="fs-4">Cerrar Sesión</span>
    		</a>
         </div>
         <div class="menuContenido">
         	<div class="barraSuperior">
         		<div>
         			<p  th:text="${rutUser}" class="botonSuperior"></p>
         		</div>
        	 </div>
         	<div class="contenedor">
				<div class="contenedor2 ">
					<h1>Arrendar centro</h1>
					<hr>
					<form th:action="@{/ArrendarCentro}" method="post" id="demo-form2" data-parsley-validate
							class="form-horizontal form-label-left" th:object="${usuario}">
							
					<div class="casilla">
						<h2>Seleccione un centro</h2>
						<select class="opciones" aria-label="Default select example">
  							<option selected>...</option>
 	 						<option value="1">One</option>
  							<option value="2">Two</option>
  							<option value="3">Three</option>
						</select>				
					</div>
					<div class="calendario">
						<div class= "informacion">
							<div class="anterior" id="anterior">&#9664;</div>
							<div th:value="${mes}" class="mes" id="mes"></div>
							<div th:value="${anio}"class="año" id="año"></div>
							<div class="siguiente" id="siguiente">&#9654;</div>
						</div>
						<div class="semana">
							<div class="diaSemana">Lun</div>
							<div class="diaSemana">Mar</div>
							<div class="diaSemana">Mie</div>
							<div class="diaSemana">Jue</div>
							<div class="diaSemana">Vie</div>
							<div class="diaSemana">Sab</div>
							<div class="diaSemana">Dom</div>
						</div>
						<div class="dias" id="dias"></div>
					</div>
					<script src="js/Calendario.js"></script>
					
					<div class="botonSolicitud">
						<div>
							<button type="submit" class="solicitud">Solicitar</button>
						</div>
					</div>						
					</form>
				</div>
			</div>
			<p class=" copyright">Nessfit© 2022.</p>
		</div> 
</body>
</html>