<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/ListaInstalaciones.css}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap"
	rel="stylesheet">
<title>Inicio sesión - Nessfit</title>
</head>

<body>

	<div class="barraLateral">
		<img src="/images/NESSFIT_LOGO.png">
		<hr>
		<a href="/MenuPrincipal" class="boton"> <span class="fs-4">Inicio</span>
		</a> <a
			th:if="${rolUser == 'ADMINISTRATIVO' || rolUser == 'ADMINISTRADOR'}"
			href="/listarUsuarios" class="boton"> <span class="fs-4">Administrar
				Usuarios</span>
		</a> <a th:if="${rolUser == 'ADMINISTRATIVO'}"
			href="/administrativo/RegistrarCliente" class="boton"> <span
			class="fs-4">Registrar cliente</span>
		</a> <a th:if="${rolUser == 'ADMINISTRATIVO'}"
			href="/administrativo/verSolicitudes" class="boton"> <span
			class="fs-4">Administrar Solicitudes</span>
		</a> <a th:if="${rolUser == 'CLIENTE'}" href="/cliente/verSolicitudes"
			class="boton"> <span class="fs-4">Visualizar Solicitudes</span>
		</a> <a th:if="${rolUser == 'ADMINISTRATIVO'}"
			href="/administrativo/estadisticas" class="boton"> <span
			class="fs-4">Ver estadisticas</span>
		</a> <a th:if="${rolUser == 'ADMINISTRADOR'}"
			href="/administrador/RegistrarAdministrativo" class="boton"> <span
			class="fs-4">Registrar administrativo</span>
		</a> <a th:if="${rolUser == 'ADMINISTRATIVO'}"
			href="/administrativo/RegistarInstalacionDeportiva" class="boton">
			<span class="fs-4">Registrar Instalacion</span>
		</a> <a th:if="${rolUser == 'CLIENTE'}" href="/cliente/EscogerCentro"
			class="boton"> <span class="fs-4">Arrendar Centro</span>
		</a> <a th:if="${rolUser == 'ADMINISTRATIVO'}"
			href="/administrativo/editarPrueba" class="boton"> <span
			class="fs-4">Editar Datos de Instalaciones</span>
		</a> <a th:if="${rolUser == 'ADMINISTRATIVO' || rolUser == 'CLIENTE'}"
			href="/EditarDatos" class="boton"> <span class="fs-4">Editar
				datos</span>
		</a> <a href="/CambiarContraseña" class="boton"> <span class="fs-4">Cambiar
				contraseña</span>
		</a> <a href="/logout" class="boton"> <span class="fs-4">Cerrar
				Sesión</span>
		</a>
	</div>

	<div class="menuContenido">
		<div class="barraSuperior">
			<div>
				<p th:text="${rutUser}" class="botonSuperior"></p>
			</div>
		</div>
		<div class="contenedor">
			<div class="contenedor2">
				<h1>Listado de Fechas</h1>
				<hr>
				<div class="casilla">
				<input type="hidden" name="id" th:value = "${solicitud.id}" ></input>
				<div class=scroll>
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>FECHA </th>
							</tr>
						</thead>
							<tbody >
								<tr th:each="listas : ${lista}">
									<td th:text="${listas.idSolicitud}    "></td>
									<td th:text="${listas.fecha}" 
								     ></td>
								
								
								</tr>
							</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>
		<p class=" copyright">Nessfit© 2022.</p>
	</div>
</body>
</html>