<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/MenuPrincipal-estilo.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@500&display=swap" rel="stylesheet">
<title>Inicio sesión - Nessfit</title>
</head>

<body>
      
    <div id="sidebar">
      <div class="toggle-btn">
        <span>&#9776</span>
      </div>
      <ul>
        <li>
          <img src="images/NESSFIT_LOGO.png" alt="Logo" class="logo">
        </li>
        <li><a href="#" id="Casa">Casa</a></li>
        <li><a href="#" id="Acerca de">Acerca de</a></li>
        <li><a href="#" id="Contacto">Contacto</a></li>
        <li><p><a href="#" id="openModal">PopUp</a></p></li>
        <a href="#" id="Configuracion">Configuracion</a>
      </ul>
    </div>
    
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>¿Esta seguro?</p>
      </div>
    </div>

    <script src="js/MenuPrincipal-barraLateral.js"></script>
  </body>
</html>